<h1>投稿一覧</h1>
<% @posts.each do |posts| %>

<h6>プロフィール画像</h6>
<h6>ユーザーネーム</h6>
<!--%= posts.member.nickname-->

<h4>画像</h4>
<%= image_tag image.get_image %>
<h4>ジャンル（未）</h4>
<h4>タイトル</h4>
<%= posts.title %>
<h4>投稿本文</h4>
<%= posts.body %>

<% end %>