<div class='top'>
  <div class='contner'>
    <div class='row'>
      <div class='col'>
        <h3 class='sub'>離乳食からインスタ映えまで！？楽しい子育て情報がたくさん！！</h3>
        <h1 class='logo title'>ひよっこランド</h1>
      </div>
    </div>
  <div class='about'>
    <p>子育てをするお母さん・お父さんの強い見方⭐️</p>
    <p>「離乳食毎回作るのは大変... でも、手作りにこだわりたい！」や</p>
    <p>「子どもとの何気ない写真をおしゃれに撮りたい！」など</p>
    <p>すぐに実践できるアイデアや豆知識がたくさん投稿されています。</p>
    <p>あなたが投稿して、情報を発信することもできます！</p>
    <p>ひよっこランドのメンバーになりませんか？</p>
  </div>

  </div>
</div>