<div class='top'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <h3 class='sub'><span>離乳食からインスタ映えまで！？</span><span>楽しい子育て情報がたくさん！！</span></h3>
        <h1 class='logo big-logo'>｜ひよっこランド｜</h1>
      </div>
    </div>
    <div class='about'>
      <p>子育てをするお母さん・お父さんの強い見方⭐️</p>
      <p>「離乳食毎回作るのは大変... でも、手作りにこだわりたい！」や</p>
      <p>「子どもとの何気ない写真をおしゃれに撮りたい！」など</p>
      <p>すぐに実践できるアイデアや豆知識がたくさん投稿されています。</p>
      <p>あなたが投稿して、情報を発信することもできます！</p>
      <p>ひよっこランドのメンバーになりませんか？</p>
        <% if !admin_signed_in? %>
          <div class='btn btn-orange mb-3'>
            <%= link_to '投稿を見に行く⇨', about_path %>
          </div>
        <% end %>
    </div>
  </div>
</div>