<div class='container sign'>
  <h3>本当に退会しますか？</h3>
  <p>退会すると、マイページやこれまでの投稿やコメントが削除されます。</p>
  <p>退会する場合は、「退会する」を押してください。</p>
  <div>
    <%= link_to '退会しない', member_path(@member), class: 'btn btn-bule' %>
    <%= link_to '退会する', public_withdraw_path(@member), method: :patch, class: 'btn btn-red' %>
  </div>
</div>