<h1>ジャンル編集</h1>

<%= form_with model: @genre, url: admin_genre_path(@genre), method: :pacth do |f| %>

<%= f.text_field :name %>

<%= f.submit '編集' %>

<%= link_to '削除', admin_genre_path(@genre), method: :delete %>

<% end %>