<div class='new'>
  <div class='container post-back'>
    <div class='post-top'>
      <h3>＜いいねリスト＞</h3>
    </div>
    <div class='row  justify-content-around'>
      <div class='col-10'>
        <div class='posts'>
          <%= render 'public/posts/post', posts: @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
