<div class='admin-back'>
  <div class='container'>
    <div class="search">
      <div class='title'>
        <h3>ユーザーの投稿一覧</h3>
      </div>
      <div class='row d-flex p-3'>
        <div class='col-md-2 offset-md-3 col-sm-12'>ジャンル検索</div>
        <div class='col-md-4 col-sm-12'>
          <%= form_with url: genre_search_path, method: :get do |f| %>
            <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
            <%= f.submit '検索', class: 'rounded-pill bg-success text-white border border-success' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="posts">
          <%= render 'post', posts: @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
