    <%= form_with model: [Post,PostComment], url: post_post_comments_path(post.id), local: false do |f| %>
    <div class="col-md-9 offset-md-1 col-sm-12">
      <%= f.text_area :comment, class: 'comment-form', rows:3 , placeholder: "コメントをここに" %>
    </div>
    <div class="col-md-2 col-sm12">
      <%= f.submit '送信する', class: 'btn btn-green' %>
    </div>
    <% end %>
