@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 text-align: center;
 background-color: #fffac2;
 font-family: "TsukuARdGothic-Regular";
}

footer {
 margin: 20px;
}

header {
 width: 100%;
 heigth: 80px;
 background-color: #ffffff;
}

.logo-mark {
  display: block;
  min-width: 250px;
  padding-top: 25px;
  padding-left: 25px;
  text-decoration: none;
  font-size: 1.4em;
}

nav{
 display: flex;
 justify-content: space-around;
 width: 100%;
}

ul{
 text-align: center;
 display: flex;
 padding: 20px;
 justify-content: space-around;
}

li{
 list-style: none;
 margin-left: 15px;
 font-size: 18px;
}

a{
 color: black;
}


p{
 line-heigth: 2.5;
 text-decoration: underline;
}

th {
 padding: 1rem;
 font-size: 1.2rem;
}

td {
 padding: 1rem;
}

img {
 width: 100%;
}

.logo {
 padding: 20px;
 font-family: "TsukuARdGothic-Regular";
 font-weight: 900;
 width: 100%;
 display: flex;
}

.big-logo {
 font-size: 7vw;
}

.sub {
 font-weight: 500;
 margin-top: 70px;
 font-size: 4.5vmin;
}

span{
 line-heigth: 2.5;
 background-color: white;
 display: inline-block;
}

.btn {
 margin: 0 0.5rem;
 border-radius: 20px;
}

.btn-orange {
 background-color: orange;
}

.btn-green {
 background-color: #32cd32;
 color: white;
 margin: 1rem;
}

.btn-red {
 background-color: red;
 color: white;
}

.btn-bule {
 background-color: darkturquoise;
}

.top{
 padding: 30px;
 text-align: center;
}

.about {
 padding: 30px;
 font-size: 2.5vmin;
}

.mypage {
 margin: 2%;
 border: 1px dashed orange;
 border-radius: 20px;
}

.log {
 padding: 20px;
 border: 1px solid　#ffffff;
 background-color: floralwhite;;
 width: 50%;
 margin: 0 auto;
}

.posts {
 display: flex;
}

.post {
 padding: 10px;
 margin: 10px;
 border: 1px solid #fff;
 background-color: #fff;
 box-shadow: 4px 4px 8px #ccc;
 border-radius: 20px;
}

.sign {
 padding: 0 0 10px 0;
 margin: 70px auto;
 width: 50%;
 background-color: #fff;
 border-radius: 20px;
}

.admin-sign {
 padding: 0 0 10px 0;
 margin: 70px auto;
 background-color: #f6efdb;
 width: 50%;
 border: 2px solid #00aaff;
}

.sign-top {
 padding: 10px;
 background-color: orange;
 font-weight: bolder;
 border-radius: 20px 20px 0 0;
}

.admin-top {
 padding: 10px;
 background-color: #00aaff;
 font-weight: bolder;
}

.field {
 padding: 10px;
 font-size: 150%;
}

.actions {
 margin-bottom: 10px;
}

.new {
 margin: 5%;
 text-align: center;
}

.post-top {
 padding: 10px;
 background-color: #f69679;
 font-weight: bolder;
 border-radius: 20px 20px 0 0;
 font-size: 2.5rem;
}

.post-body {
 width: 30rem;
}

.post-btn {
 width: 50%;
 background-color: #f69679;
}

.search {
 flex-direction: column;
 padding: 0.5rem;
 text-align: left;
 font-weight: bolder;
}

.title {
 display:inline-block;
 margin: 1em auto;
 padding: 0.5em;
 font-weight: bolder;
 background-color: #92cb97;
}

.name-form {
 width: 50%;
 background-color: #dddddd;
 border-radius: 20px;
}

.post-form {
 width: 100%;
 background-color: beige;
 border-radius: 5px;
}

.comment {
 width: 100%;
 padding: 10px;
 border-radius: 5px;
}


@media screen and (max-width: 992px) {
.logo { display: block; }
.posts {
 flex-direction: column;
}

header ul {
 flex-direction: column;
 gap: 12px;
 width: 100%;
}
}