@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 text-align: center;
 background-color: antiquewhite;
 font-family: "TsukuARdGothic-Regular";
}

footer {
 margin-top: auto;
 width: 100%;
 background-color: #ffffff;
}

header {
 width: 100%;
 background-color: #ffffff;
}

.pagination {
 justify-content: center;
}

.pagination span {
 margin: 1%;
 background-color: transparent;
}

.back {
 width: 100%;
}

.logo-mark {
  display: block;
  min-width: 250px;
  padding-top: 25px;
  padding-left: 25px;
  text-decoration: none;
  font-size: 1.4em;
}

nav{
 display: flex;
 justify-content: space-around;
 width: 100%;
}

ul{
 margin: auto;
 text-align: center;
 display: flex;
 padding: 20px;
 justify-content: space-around;
}

li{
 list-style: none;
 margin-left: 15px;
 font-size: 18px;
}

a{
 color: black;
}


p{
 text-decoration: underline;
}

.post-form p {
  text-decoration: none;
  text-align: start;
}

.table {
 width: 100%;
 margin-bottom: 1rem;
 color: #212529;
 line-height: 7;
 text-align: left;
}

th {
 padding: 1px 1rem;
 font-size: 1.2rem;
}

td {
 padding: 1rem;
}

img {
 width: 100%;
 margin: 1rem auto;
}

.members img {
 width: auto;
}

h1 {
 font-size: 3rem;
}

.logo {
 padding: 20px;
 font-family: "TsukuARdGothic-Regular";
 font-weight: 900;
 width: 100%;
 display: flex;
}

.big-logo {
 font-size: 6vw;
 justify-content: center;
}

.sub {
 font-weight: 500;
 margin-top: 70px;
 font-size: 4.5vmin;
}

span{
 line-height: 2.5 !important;
 background-color: white;
 display: inline-block;
}

.btn {
 margin: 0 0.5rem;
 border-radius: 20px;
}

.btn-orange {
 background-color: orange;
}

.btn-green {
 background-color: #32cd32;
 color: white;
 margin: 1rem;
}

.btn-red {
 background-color: red;
 color: white;
}

.btn-bule {
 background-color: darkturquoise;
 color: white;
}

.top{
 padding: 30px;
 text-align: center;
}

.about {
 // padding: 30px;
 font-size: 2.5vmin;
}

.mypage {
 margin: 2%;
 border-radius: 20px;
 background-color: white;
}

.log {
 padding: 20px;
 border: 1px solid　#ffffff;
 background-color: floralwhite;;
 width: 50%;
 margin: 0 auto;
}

.post-back{
 padding: 0;
 margin: auto;
 border: 2px solid #ffcc00;
 background-color: #fff8cf;
 border-radius: 20px;
}

.posts {
 display: flex;
}

.post {
 padding: 10px;
 margin: 10px;
 border: 1px solid #fff;
 background-color: #fff;
 box-shadow: 4px 4px 8px #ccc;
 border-radius: 20px;
}

.sign {
 padding: 0 0 10px 0;
 margin: 70px auto;
 width: 60%;
 background-color: #fff;
 border-radius: 20px;
}

.row.form input {
  width: 80%;
}

.admin {
 padding: 10px;
 margin: 10px auto;
 background-color: #fff;
}

.admin-sign {
 padding: 0 0 10px 0;
 margin: 70px auto;
 background-color: #f6efdb;
 width: 50%;
 border: 2px solid #00aaff;
}

.sign-top {
 padding: 10px;
 background-color: orange;
 font-weight: bolder;
 border-radius: 20px 20px 0 0;
}

.admin-top {
 padding: 10px;
 background-color: #00aaff;
 font-weight: bolder;
}

.field {
 padding: 10px;
 font-size: 150%;
}

.actions {
 margin-bottom: 10px;
}

.new {
 margin: 5%;
 text-align: center;
}

.post-top {
 padding: 10px;
 background-color: #f69679;
 font-weight: bolder;
 border-radius: 20px 20px 0 0;
 font-size: 2.5rem;
}

.profile-image {
 height: 200px;
 width: 200px;
 margin: 1rem;
}

.post-btn {
 width: 50%;
 background-color: #f69679;
}

.title {
 display: inline-block;
 margin: auto;
 margin-top: 1rem;
 padding: 0.5em;
 font-weight: bolder;
 background-color: #7fd7ff;
}

.post-form {
 width: 100%;
 margin: 10px;
 background-color: beige;
 border-radius: 5px;
}

.post_comments {
 margin-top: 1px;
 margin-bottom: 10px;
 display: inline-block;
 text-align: start;
}

.members {
 margin: 5px;
 background-color: #e6f0f0;
 border-radius: 5px;
}

.genre {
 margin: 10px auto;
 padding: 2%;
 width: 50%;
 border: 3px dashed #449419;
 background-color: white;
}

.genres {
 margin: 5px;
 background-color: lemonchiffon;
 border-radius: 5px;
}

.hart {
 color: #e54747;
}

.com {
 margin: 2px;
}

.com a {
 color: red;
}

@media screen and (max-width: 992px) {
.logo { display: block; }
.posts {
 flex-direction: column;
}

header ul {
 flex-direction: column;
 gap: 12px;
 width: 100%;
}

 .sign,
 .admin-sign,
 .genre {
  width: 80%;
 }

 table {
   display: block;
   width: 100%;
 }

 table tbody {
   display: block;
   width: 100%;
 }

 table tr {
   display: block;
   width: 100%;
 }

 table th {
   display: block;
   width: 100%;
 }

 table td {
   display: block;
   width: 100%;
 }
}

